<script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script> 
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>

<div class="big-box panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"><h1 class="center"><%= @camp.name%></h1></div>
  </div>
  <div class="panel-body">
    <h3><%= @camp.location%></h3>
    <h5><%= @camp.address%></h5>
    <div style='width: inherit;'>
      <div id='map' style='width: inherit; height: 400px'></div>
    </div>
    
  </div>
  <div class="panel-footer">
    <div class="center">
      <%= link_to 'Back', camps_path %>
    </div>
  </div>
</div>