<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			<h1>Editing Team Member</h1>
		</div>
	</div>
	<div class="panel-body">
		<%= render 'form' %>
	</div>
	<div class="panel-footer">
		<%= link_to 'Show', @team_member %> |
		<%= link_to 'Back', team_members_path %>
	</div>
</div>
