<div class="page-header">
  <h1>Our Mission </h1>
</div>
<div class="page-body">
			<div class="media">
			  <div class="media-left">
			    <a href="#">
			      <%= image_tag("safeFun.jpg", :size => "130x130",:alt =>"H.A.M. Science Camp", :style => "border: 3px solid #b2b2b2")%>
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">Providing Every Child with Safe and Fun Experiences</h4>
			    <p>We do our best to ensure that our camps are accesible to all children in our community. We also provide a safe environment where every child can participate in the fun.</p>
			  </div>
			</div>
		
			<div class="media">
			  <div class="media-left">
			    <a href="#">
			      <%= image_tag("faith.jpg", :size => "130x130",:alt =>"Passing on the Faith", :style => "border: 3px solid #b2b2b2")%>
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">Fostering Christian Development and Discipleship</h4>
			    <p>Passing on the faith in God through Jesus Christ. </p>
			  </div>
			</div>
		
			<div class="media">
			  <div class="media-left">
			    <a href="#">
			      <%= image_tag("leader.jpg", :size => "130x130",:alt =>"H.A.M. Leaders", :style => "border: 3px solid #b2b2b2")%>
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">Building Modern Leaders In Jesus Christ</h4>
			    <p>At Hope Alvinston Ministries we instill our leaders with strong christian values that create a solid foundation on which they can grow and lead others to Christ through discipleship.</p>
			  </div>
			</div>
</div>