<!-- Home Page -->
<div onresize="welcome_message_height_adjust.js">
	<div class="page-header">
		<%= image_tag("headerHome.JPG", :alt =>"Hope Alvinston Ministries Header")%>
	</div>

	<div>
		<%=render 'layouts/carousel'%>
	</div>

	<div id="welcomeMessage" class="center">
		<div class="content">
			<h1>Welcome to Hope Alvinston Ministries!</h1>
			<p>Hope Alvinston Ministries is a small but quickly growing summer camp program based out of Hope United Church in Alvinston, Ontario. We're focused on providing fun summer activities to our local youth and improving our small community in any way we can. </p>
		</div>
	</div>
</div>

