<!-- The Team Page -->
<!-- This page is linked to in the header and footer -->
<!-- Header Image is stored in app/assets/images-->

<div class="page-header">
	<%= image_tag("team_header.png", :alt =>"Missing Photo")%>
</div>

<h1 style="text-align: center"> COMING SOON </h1>