<!-- The Team Page -->
<!-- This page is linked to in the header and footer -->
<!-- Header Image is stored in app/assets/images-->

<div class="page-header">
	<%= image_tag("http://i1053.photobucket.com/albums/s472/hopealvinstonministries/headerTeam.jpg_zpsy2y0die0.png", :alt =>"H.A.M. Team")%>
</div>

<h1 style="text-align: center; color: white;"> COMING SOON </h1>