<!-- The Team Page -->
<!-- This page is linked to in the header and footer -->
<!-- Header Image is stored in app/assets/images-->
<div class="container">
   <div class="page-header">
   	<%= image_tag("headerTeam.jpg", :alt =>"H.A.M. Team")%>
   </div>


	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<div class="card">
			<canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
			<div class="avatar">
				<img src="" alt="" />
			</div>
			<div class="content">
				<h3>Kiera Smith</h3>
				<h4>Co-Captain!</h4>
				<p style="padding: 5px">
					My name is Kiera Smith and I've been a member of the HAM Summer Team for the past 4 summers, with this year as Co-Captain being my 5th. I've been attending HAM camps since I was very young and my love for camp grows every year. My favourite things about camp are developing meaningful relationships with campers, bonding with my team while serving God, and getting to spend my summer outdoors. I am looking forward to growing and learning as a leader this summer.
				</p>
			</div>
		</div>
	</div>

	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<div class="card">
			<canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
			<div class="avatar">
				<img src="" alt="" />
			</div>
			<div class="content">
				<h3>Corey Chalupka</h3>
				<h4>Co-Captain!</h4>
				<p style="padding: 5px">
					My name is Corey Chalupka and I am the co-captain for the HAM Summer Team for this summer! I am a third year student at the University of Ottawa taking History and French.  I have been working at camp for years and have been going to camp all my life. My fondest summer memories were made at camp and I can't wait to make some more this summer!
				</p>
			</div>
		</div>
	</div>



<%= image_tag("KieraProfilePic.jpg", :class =>"src-image",:alt =>"H.A.M. Team")%>
<%= image_tag("CoreyProfilePic.jpg", :class =>"src-image",:alt =>"H.A.M. Team")%>












