<%= image_tag @picture.image.url(:medium) =%>

<p>
  <strong>Description:</strong>
  <%= @picture.description %>
</p>

<% if @picture.user == current_user %>
	<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%end%>
<%= link_to 'Back', pictures_path %>
