/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require 'masonry/transitions'
 */

/* General Stylings */
 html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    background-color: #2c3e50;
    color: white; /*Default Text Colour*/
}

/* A class to add to any text element that I would like to be centered */
.center {
	text-align: center;
	overflow: auto;
}


/* A class to add to any text element that I would like to be left aligned */
.left{
	text-align: left;
}

/* A class to add to any text element that I would like to be right aligned */
.right{
	text-align: right;
}



#wrapper {
	min-height:100%; /*Makes sure the footer always sits at the very bottom of the page*/
	position:relative;
}
#header{
}
#content {
	padding-bottom:100px; /*Ensures that no element is overlapped by the footer*/
}
#footer {
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
}
