/**
 * Customizations put on the bootstrap carousel on the home page
 **/

#myCarousel{
	border: 5px solid black;
}

/** These ensure that the container always has the same aspect ratio even when images are missing
 * Keeps carousel from readjusting height.
 **/

#myCarousel:before{
	padding-top: 100%;
	content: "";
	display: block;
}

.carousel-inner{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}