<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <!-- Header Ims are stored in HAM/app/assets/Images. Fix problems there before changing anything here. Make sure all images are stored there under these names and that they all have a height value of 480px. In the event that you are updating header-Ims please read the instructions stored there -->
  <div class="carousel-inner">

    <div class="item active">
      <%= image_tag("headerIm-1.JPG", :alt =>"Missing Photo")%>
    </div>

    <div class="item">
      <%= image_tag("headerIm-2.JPG", :alt =>"Missing Photo")%>
    </div>

    <div class="item">
      <%= image_tag("headerIm-3.JPG", :alt =>"Missing Photo")%>
    </div>

    <div class="item">
      <%= image_tag("headerIm-4.JPG", :alt =>"Missing Photo")%>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>